a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,body{
    margin: 0;
}
.btn{
    border: none;
    background-color: transparent;
}
input[type=text]{
    border: none;
    outline: none;
    background-color: transparent;
}