@import 'default';

$black: #000;
$white: #fff;
$mainBlack: #202020;
$orange:#FF3D00;
$pink: #EF5DA8;
$blue:#0085FF;
$gray: #939393;
$lightgray: #e3e3e3;

@mixin font($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: $size;
}
@mixin button($color){
    border: 1px solid $color;
    color: $color;
    @include font(900);
    padding: 10px 0;
    background-color: $white;
    font-size: 14px;
    transition: 0.5s;
    width: 100%;
    border-radius: 5px;
}
@mixin activeButton($color){
    @include button($color);
    background-color: $color;
    color: $white;
    cursor: pointer;
}
.btn{
    &.orange{
        @include button($orange);
        &:hover{
            @include activeButton($orange);
        }
    }
    &.blue{
        @include button($blue);
        &:hover{
            @include activeButton($blue);
        }
    }
}


p{
    @include font(400);
}
h1,h2,h3{
    @include font(900);
}
h4{
    @include font(700);
}