@import 'default';

$black: #000;
$white: #fff;
$mainBlack: #202020;
$orange:#Fc543a;
$pink: #EF5DA8;
$blue:#0085FF;
$gray: #939393;
$lightgray: #e3e3e3;

#orange{
    background-color: $orange;
}
#black{
    background-color: $black;
}
#pink{
    background-color: $pink;
}
#blue{
    background-color: $blue;
}



@mixin font($size){
    font-family: 'Montserrat', sans-serif;
    font-weight: $size;
}

@mixin button($color){
    border: 1px solid $color;
    color: $color;
    @include font(500);
    text-transform: uppercase;
    padding: 15px 0;
    background-color: transparent;
    font-size: 14px;
    transition: 0.5s;
    width: 33%;
    border-radius: 5px;
}
@mixin activeButton($color){
    @include button($color);
    background-color: $color;
    color: $white;
    cursor: pointer;
}
@mixin cover($height){
    position: relative;
    width: 100%;
    padding-top: $height;
    img, .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
%container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    &.gray{
        @include button($gray);
        width: 8%;
        &:hover{
            @include activeButton($orange);
            color: $orange;
            width: 8%;
        }
    }
    &.orange{
        @include button($orange);
        &:hover{
            @include activeButton($orange);
        }
    }
    &.blue{
        @include button($blue);
        &:hover{
            @include activeButton($blue);
        }
    }
    &.white{
        @include button($white);
        &:hover{
            @include activeButton($white);
            color: $orange;
        }
    }
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
@import 'header.scss';

section{
    margin-bottom: 80px;

}
.main{
    background-color: $orange;
    .wrapper{
        @extend %container;
        .block{
            width: 45%;
            .cover{
                @include cover(70%);
                img{
                    transform: scaleX(-1);
                    
                
                }
            }
            h1{
                font-family: 'Permanent Marker';
                font-size: 56px;
                color: $white;
                margin-bottom: 25px;
            }
        }

    }
}

.category{
    .wrapper{
        .container{
            @extend %container;
            &:first-child{
                margin-bottom: 1.7%;
            }
            .category-card{
                transition: 0.2s;
                width: 32%;
                img{
                    transition: 0.2s;
                }
                h3{
                    transition: 0.2s;
                }
                &:hover{
                    cursor: pointer;
                    scale: 105%;
                    h3{
                        text-shadow: 4px 4px 0 $orange;
                    }
                    img{
                        filter: blur(1px) saturate(0);
                    }
                }
                .cover{
                    @include cover(100%);
                    h3{
                        position: absolute;
                        z-index: 1;
                        @include font(700);
                        text-transform: uppercase;
                        bottom: 45%;
                        text-align: center;
                        width: 100%;
                        color: $white;
                        font-size: 24px;
                        
                    }
                }
                &.big{
                    width: 66%;
                    .cover{
                        @include cover(47.5%);
                    }
                }
            }
        }
    }
}

.cards{
    h2{
        @include font(700);
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px ;
    }
    .sort{
        @extend %container;
        justify-content: center;
        .nav-linkscard{
            @extend %container;
            width: 42%;
            h4{
                @include font(600);
                font-size: 16px;
                margin-bottom: 35px;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                &:hover{
                    cursor: pointer;
                    color: $orange;
                    border-bottom: 2px solid $orange;
                }
            }
        }
    }
    .container{
        @extend %container;
        margin-bottom: 5%;
        .card{
            width: 32%;
            .cover{
                transition: 0.2s;
                &:hover{
                    cursor: pointer;
                    scale: 105%;
                    img{
                        scale: 0.7;
                    }
                    .circle{
                        scale: 1.1;
                        background-color: $orange;
                        box-shadow: 4px 4px 2px $black;
                    }
                }
                @include cover(130%);
                background-color: $lightgray;
                img{
                    object-fit: contain;
                    scale: 0.6;
                    z-index: 2;
                    transition: 0.2s;
                }
                .circle{
                    width: 50%;
                    height: 40%;
                    background-color: $white;
                    border-radius: 100%;
                    position: absolute;
                    z-index: 1;
                    top: 30%;
                    left: 25%;
                    transition: 0.2s;
                }
            }
            .card-content{
                
                h4{
                    @include font(600);
                    font-size: 16px;
                    text-align: center;
                    padding: 10% 0 4%;
                }
                p{
                    @include font(500);
                    font-size: 14px;
                    text-align: center;
                    
                }
                
            }
        }

    }
    .container-btn{
        @extend %container;
        justify-content: center;
        .btn{
            width: 15%;
        }
    }
}

.page-title{
    background-color: $orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
    h2{
        @include font(700);
        text-transform: uppercase;
        color: $white;
        font-size: 30px;
        margin-bottom: 15px
    }
    .source{
        a,span{
            color: $white;
            @include font(400);
            text-transform: capitalize;
        }
    }
}

@import 'footer.scss';

@import './pages-style/_product.scss';



