a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, body {
  margin: 0;
}

.btn {
  border: none;
  background-color: transparent;
}

input[type=text] {
  border: none;
  outline: none;
  background-color: transparent;
}

#orange {
  background-color: #Fc543a;
}

#black {
  background-color: #000;
}

#pink {
  background-color: #EF5DA8;
}

#blue {
  background-color: #0085FF;
}

.review .wrapper .information .container-descr, .product .wrapper .product-info .card .counter-container .container-stock, .product .wrapper .product-info .settings, .product .wrapper .product-info .product-name, .product .wrapper .photos .container, .product .wrapper, footer .container-footer .block-link .container-block-nav, footer .container-footer .block-info .container-social, footer .container-footer, footer .container-pictures, footer .container .container-mail, footer .container, .cards .container-btn, .cards .container, .cards .sort .nav-linkscard, .cards .sort, .category .wrapper .container, .main .wrapper, header .nav-container, header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn.gray {
  border: 1px solid #939393;
  color: #939393;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  width: 8%;
}
.btn.gray:hover {
  border: 1px solid #Fc543a;
  color: #Fc543a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #Fc543a;
  color: #fff;
  cursor: pointer;
  color: #Fc543a;
  width: 8%;
}
.btn.orange {
  border: 1px solid #Fc543a;
  color: #Fc543a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.orange:hover {
  border: 1px solid #Fc543a;
  color: #Fc543a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #Fc543a;
  color: #fff;
  cursor: pointer;
}
.btn.blue {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.blue:hover {
  border: 1px solid #0085FF;
  color: #0085FF;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #0085FF;
  color: #fff;
  cursor: pointer;
}
.btn.white {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
}
.btn.white:hover {
  border: 1px solid #fff;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0;
  background-color: transparent;
  font-size: 14px;
  transition: 0.5s;
  width: 33%;
  border-radius: 5px;
  background-color: #fff;
  color: #fff;
  cursor: pointer;
  color: #Fc543a;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 30px 0;
}
header .logo {
  display: flex;
  align-items: baseline;
}
header .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
header .logo .circle {
  width: 8px;
  height: 8px;
  background-color: #Fc543a;
  border-radius: 100%;
}
header .nav-container .nav-links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  margin-right: 25px;
}
header .nav-container .nav-links a:hover {
  padding-bottom: 1%;
  color: #Fc543a;
  border-bottom: 2px solid #Fc543a;
}
header .nav-container .nav-icons {
  padding-left: 25px;
  border-left: 1px solid #e3e3e3;
}
header .nav-container .nav-icons svg:hover {
  cursor: pointer;
  fill: #Fc543a;
}
header .nav-container .nav-icons svg:first-child {
  margin-right: 15px;
}

section {
  margin-bottom: 80px;
}

.main {
  background-color: #Fc543a;
}
.main .wrapper .block {
  width: 45%;
}
.main .wrapper .block .cover {
  position: relative;
  width: 100%;
  padding-top: 70%;
}
.main .wrapper .block .cover img, .main .wrapper .block .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .wrapper .block .cover img {
  transform: scaleX(-1);
}
.main .wrapper .block h1 {
  font-family: "Permanent Marker";
  font-size: 56px;
  color: #fff;
  margin-bottom: 25px;
}

.category .wrapper .container:first-child {
  margin-bottom: 1.7%;
}
.category .wrapper .container .category-card {
  transition: 0.2s;
  width: 32%;
}
.category .wrapper .container .category-card img {
  transition: 0.2s;
}
.category .wrapper .container .category-card h3 {
  transition: 0.2s;
}
.category .wrapper .container .category-card:hover {
  cursor: pointer;
  scale: 105%;
}
.category .wrapper .container .category-card:hover h3 {
  text-shadow: 4px 4px 0 #Fc543a;
}
.category .wrapper .container .category-card:hover img {
  filter: blur(1px) saturate(0);
}
.category .wrapper .container .category-card .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
.category .wrapper .container .category-card .cover img, .category .wrapper .container .category-card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category .wrapper .container .category-card .cover h3 {
  position: absolute;
  z-index: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  bottom: 45%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 24px;
}
.category .wrapper .container .category-card.big {
  width: 66%;
}
.category .wrapper .container .category-card.big .cover {
  position: relative;
  width: 100%;
  padding-top: 47.5%;
}
.category .wrapper .container .category-card.big .cover img, .category .wrapper .container .category-card.big .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
.cards .sort {
  justify-content: center;
}
.cards .sort .nav-linkscard {
  width: 42%;
}
.cards .sort .nav-linkscard h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 35px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
.cards .sort .nav-linkscard h4:hover {
  cursor: pointer;
  color: #Fc543a;
  border-bottom: 2px solid #Fc543a;
}
.cards .container {
  margin-bottom: 5%;
}
.cards .container .card {
  width: 32%;
}
.cards .container .card .cover {
  transition: 0.2s;
  position: relative;
  width: 100%;
  padding-top: 130%;
  background-color: #e3e3e3;
}
.cards .container .card .cover:hover {
  cursor: pointer;
  scale: 105%;
}
.cards .container .card .cover:hover img {
  scale: 0.7;
}
.cards .container .card .cover:hover .circle {
  scale: 1.1;
  background-color: #Fc543a;
  box-shadow: 4px 4px 2px #000;
}
.cards .container .card .cover img, .cards .container .card .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards .container .card .cover img {
  object-fit: contain;
  scale: 0.6;
  z-index: 2;
  transition: 0.2s;
}
.cards .container .card .cover .circle {
  width: 50%;
  height: 40%;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 25%;
  transition: 0.2s;
}
.cards .container .card .card-content h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  padding: 10% 0 4%;
}
.cards .container .card .card-content p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.cards .container-btn {
  justify-content: center;
}
.cards .container-btn .btn {
  width: 15%;
}

.page-title {
  background-color: #Fc543a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
.page-title h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 30px;
  margin-bottom: 15px;
}
.page-title .source a, .page-title .source span {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
}

footer {
  background-color: #e3e3e3;
  padding-top: 50px;
}
footer .container {
  flex-direction: column;
  justify-content: center;
}
footer .container h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}
footer .container .news {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #939393;
  margin-bottom: 30px;
}
footer .container .container-mail .square1 {
  height: 40px;
  width: 40px;
  position: relative;
  background-color: #fff;
  border: 1px solid #939393;
  border-right: 0;
  border-radius: 5px 0 0 5px;
  margin-bottom: 100px;
}
footer .container .container-mail .square1 .letter {
  position: absolute;
  top: 15px;
  left: 15px;
  fill: #939393;
}
footer .container .container-mail .mail {
  border: 1px solid #939393;
  border-left: 0;
  border-right: 0;
  background-color: #fff;
  padding: 12.5px 0;
  width: 550px;
  margin-bottom: 100px;
}
footer .container .container-mail .mail::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #939393;
  font-size: 14px;
}
footer .container .container-mail .square2 {
  height: 40px;
  width: 60px;
  position: relative;
  background-color: #fff;
  border: 1px solid #939393;
  border-left: 0;
  border-radius: 0 5px 5px 0;
  transition: 0.2s;
  margin-bottom: 100px;
}
footer .container .container-mail .square2 .send {
  width: 19px;
  height: 19px;
  position: absolute;
  top: 11px;
  right: 19px;
  fill: #939393;
  transition: 0.2s;
}
footer .container .container-mail .square2:hover {
  background-color: #Fc543a;
  border: 1px solid #Fc543a;
  cursor: pointer;
}
footer .container .container-mail .square2:hover .send {
  fill: #fff;
}
footer .container-pictures {
  margin-bottom: 60px;
}
footer .container-pictures .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  padding-top: 15%;
}
footer .container-pictures .cover img, footer .container-pictures .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .container-footer {
  margin-bottom: 80px;
}
footer .container-footer .block-info {
  width: 32%;
}
footer .container-footer .block-info .logo {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
footer .container-footer .block-info .logo h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
footer .container-footer .block-info .logo .circle {
  width: 8px;
  height: 8px;
  background-color: #Fc543a;
  border-radius: 100%;
}
footer .container-footer .block-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 40px;
  color: #939393;
}
footer .container-footer .block-info .container-social {
  width: 50%;
}
footer .container-footer .block-info .container-social .cover {
  position: relative;
  width: 100%;
  padding-top: 10%;
  padding-top: 10%;
}
footer .container-footer .block-info .container-social .cover img, footer .container-footer .block-info .container-social .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .container-footer .block-info .container-social .cover img {
  scale: 2;
  object-fit: contain;
}
footer .container-footer .block-info .container-social .cover img:hover {
  cursor: pointer;
}
footer .container-footer .block-link {
  display: flex;
  flex-direction: column;
  height: 206px;
}
footer .container-footer .block-link h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .container-footer .block-link .container-block-nav .block-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 50px;
}
footer .container-footer .block-link .container-block-nav .block-nav a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
}
footer .container-footer .block-contact {
  width: 23%;
}
footer .container-footer .block-contact h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .container-footer .block-contact .container-contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer .container-footer .block-contact .container-contact svg {
  margin-right: 15px;
}
footer .container-footer .block-contact .container-contact p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
}
footer .line {
  width: 100%;
  height: 1px;
  background-color: #939393;
  margin-bottom: 10px;
}
footer .line-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #939393;
  padding-bottom: 10px;
}

.product .wrapper .photos {
  width: 40%;
  margin-bottom: 50px;
}
.product .wrapper .photos .cover {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-color: #e3e3e3;
}
.product .wrapper .photos .cover img, .product .wrapper .photos .cover .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product .wrapper .photos .cover img {
  object-fit: contain;
  transform: scale(0.8);
}
.product .wrapper .photos .container {
  margin-top: 5%;
}
.product .wrapper .photos .container .cover {
  width: 30%;
  padding-top: 30%;
}
.product .wrapper .product-info {
  width: 55%;
}
.product .wrapper .product-info h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 19px;
}
.product .wrapper .product-info .product-name h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 36px;
  color: #202020;
}
.product .wrapper .product-info .product-name h1.price {
  color: #Fc543a;
}
.product .wrapper .product-info .description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
  text-align: justify;
  margin: 20px 0;
  line-height: 0.6cm;
}
.product .wrapper .product-info .settings .size, .product .wrapper .product-info .settings .color {
  display: flex;
  gap: 20px;
  align-items: center;
}
.product .wrapper .product-info .settings .size p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #939393;
  cursor: pointer;
}
.product .wrapper .product-info .settings .size p.active {
  color: #000;
  border-bottom: 1px solid #000;
}
.product .wrapper .product-info .settings .color .ellipse-container {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product .wrapper .product-info .settings .color .ellipse-container .ellipse {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  filter: brightness(0.8);
  cursor: pointer;
}
.product .wrapper .product-info .settings .color .ellipse-container .ellipse.active {
  filter: brightness(1);
  width: 14px;
  height: 14px;
  box-shadow: 0 0 5px 4px rgba(252, 84, 58, 0.2);
}
.product .wrapper .product-info .card {
  margin-top: 40px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 40px;
}
.product .wrapper .product-info .card .counter-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 60px;
}
.product .wrapper .product-info .card .counter-container .counter {
  display: flex;
  border: 1px solid #939393;
  border-radius: 5px;
  align-items: center;
  height: 30px;
}
.product .wrapper .product-info .card .counter-container .counter .btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  padding: 5px 10px;
  transition: 0.2s;
}
.product .wrapper .product-info .card .counter-container .counter .btn:hover {
  background-color: #Fc543a;
  cursor: pointer;
  color: #fff;
}
.product .wrapper .product-info .card .counter-container .counter .btn.minus {
  border-radius: 4px 0 0 4px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.product .wrapper .product-info .card .counter-container .counter .btn.plus {
  border-radius: 0 4px 4px 0;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.product .wrapper .product-info .card .counter-container .counter .quantity {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 60px;
  text-align: center;
}
.product .wrapper .product-info .card .counter-container .container-stock svg {
  margin-right: 10px;
}
.product .wrapper .product-info .card .counter-container .container-stock p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
}
.product .wrapper .product-info .card .to-cart {
  width: 100%;
  display: flex;
  justify-content: end;
}
.product .wrapper .product-info .card .to-cart .btn.gray {
  margin-right: 10px;
}
.product .wrapper .product-info .container-info {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}
.product .wrapper .product-info .container-info p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #939393;
  text-align: justify;
}

.review .wrapper .information {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .wrapper .information .container-descr {
  width: 40%;
  margin-bottom: 30px;
}
.review .wrapper .information .container-descr h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #939393;
}
.review .wrapper .information .container-descr h4:first-child {
  color: #202020;
}
.review .wrapper .information .container-descr h4:hover {
  cursor: pointer;
}
.review .wrapper .information p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: 50%;
  text-align: center;
  line-height: 0.6cm;
  font-size: 14px;
  color: #939393;
}

.cards h2 {
  text-align: start;
}

/*# sourceMappingURL=style.css.map */
